
body {
    font-style: Arial;
}

p{
    font-size: 22px;
    padding-right: 20px;
}
td {
    border: 1px solid black;
}

h1 {
    font-size: 52px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 50px;
}
td {
    border-color: red dashed;
}

#rogue {
    color: #3ba5b0;
    font-size: 33px;
    text-align: center;
}
article{
    margin-left: 75px;
    margin-bottom: 50px;
}
.intro {
    color: #3ba5b0;
}
div {
    margin-left: 55px;
}
